.Nav {
 display: flex;
 flex-direction: row;
 align-items: center;
  background-color: #01bcd5;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: black;
  height: 50px;
}

.names {
  width: 50%;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;

}